
#skierPic {
    animation-name: skier;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes skeir {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

#animations h1 {
    font-size: 4em;
    color: white;
    margin-bottom: 10%;
    text-shadow: 8px 8px 4px black, 10px 0 35px blue, 10px 10px 15px darkblue;
    animation-name: rotation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes rotation {
    from {
        transform: rotate(-30deg);
    }
    to {
        transform: rotate(30deg);
    }
   
  }

  #img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation-name: slideShow1;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
#img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation-name: slideShow2;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    
}

@keyframes slideShow1 {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(300px, 0px);
    }
    40% {
        transform: translate(300px, 410px);
    }
    60% {
        transform: translate(-300px, 410px);
    }
    80% {
        transform: translate(-300px, 0px);
    }
    

}

@keyframes slideShow2 {
    0%, 100% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(-300px, 0px);
    }
    40% {
        transform: translate(-300px, -410px);
    }
    60% {
        transform: translate(300px, -410px);
    }
    80% {
        transform: translate(300px, 0px);
    }
    
}



.animation-btn {
    margin: 1em auto 0;
    padding: 1em 2em;
    display: block;
    border: 0;
    font-size: 1.5rem;
    background: blue;
    color: white;
    animation-name: party-btn;
}

.animation-btn:hover {
    cursor: pointer;
}

@keyframes party-btn {
    from {

    }
    to {

    }
}



