/* Hantera sidans utseende med grid, flexbox, containers osv */

@use "base";
@use "component";

* {
    box-sizing: border-box;
}

body {
    background-color: base.$bodyBackgroundColor;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: base.$primary-fonts;
}

main {
    width: 80%;
    margin: 3px auto;
    flex-grow: 1;
    background: base.$mainbackgroundColor;
    @include component.custom-box-shadow;
}



/* Design av huvudmeny med nestlad regel */
header {
    height: 120px;
    background-color: base.$menuColor;
    position: relative;
    margin: 0;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        border-radius: 50%;
    }
}


/* Design av meny för mobilenheter (placeras till höger), med nestlade regler */
nav {
    background-color: base.$menuColor;
    @include component.custom-box-shadow;
    font-size: base.$menu-fontsize;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;

    ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    li {
        padding: 0.8em 0;
        width: 100%;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1em;
    }

    li:hover {
        background-color: base.$primary-link-hover;
        cursor: pointer;
    }
}

/* Menyknapp, öppna meny */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$menuColor;
    border: rgb(0, 0, 0) solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$menuHoverColor;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

/* De tre svarta strecken ("hamburge-ikon") */
.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

/* Meny knapp, stäng */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;
    animation-name: text-flip;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

/* Gör två streck till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;

}

/* Footer */
footer {
    background-color: base.$menuColor;
    font-size: base.$paragraph-fontsize;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-shrink: 0;
}

.links a {
    text-decoration: none;
    font-weight: bold;
    color: base.$font-color;
}

.course-info li, .createdBy li, .links li {
    list-style-type: none;
    text-align: center;
    line-height: 1.8rem;
    margin-top: 8px;
}

/* Regler för specifika undersidor*/

/* Om-sida */
#about img {
    @include component.border-style(true);
    @include component.custom-box-shadow;
    border: 2px solid #414141;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Galleri-sida */
#gallery {
    margin: 10px 3px;

    img {
        float: left;
        width: 33.33%;
        padding: 5px;
        margin-bottom: 3%;
    }
}

/* Animations-sida */

#img-animation {
    overflow: hidden;
  }

#animations h1 {
    font-size: 4em;
    color: white;
    margin-bottom: 10%;
    animation-name: shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }


  #img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation-name: slideShow1;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
#img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation-name: slideShow2;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
.animation-btn {
    margin: 1em auto 1em;
    padding: 1em 2em;
    width: 200px;
    height: 100px;
    display: block;
    border: 2px solid base.$menuHoverColor;
    border-radius: 50%;
    font-size: 1.5rem;
    background: base.$primary-color-dark;
    color: white;
    transition-property: width, height;
    transition-duration: 2s;
    
}
.animation-btn:hover {
    cursor: pointer;
    width: 400px;
    height: 200px;
    background-color: rgb(136, 18, 136);
    border-radius: 20%;
}
.animation-btn2 {
    display: none;
}

/* Media queries */

/* Mörkt och ljust tema */
@media (prefers-color-scheme: dark) {
    body {
        background-color: base.$bodyBackgroundColor-dark;
    }
    main {
        background-color: base.$mainbackgroundColor-dark;
    }
    header {
        background-color: base.$menuColor-dark;
    }
    nav {
        background-color: base.$menuColor-dark;
    }
    #about img {
        @include component.border-style(false);
    }

    footer {
        background-color: base.$menuColor-dark;
    }
}

/* Mobile */

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
        margin-bottom: 20%;
    }
    #gallery img, #about img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #contact-form {
        flex-direction: column;
        align-items: center;
    }
   label {
    width: 98%;
    margin: 10px auto;
    text-align: center;
   }
   input[type="text"] {
    width: 98%;
}
textarea {
    width: 98%;
}

#animations h1 {
    font-size: 3em;
}
#img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation-name: mobile-flip1;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}
#img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation-name: mobile-flip2;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

.animation-btn {
    display: none;
}

.animation-btn2 {
    margin: 1em auto 1em;
    padding: 1em 2em;
    width: 200px;
    height: 100px;
    display: block;
    border: 2px solid base.$menuHoverColor;
    border-radius: 50%;
    font-size: 1rem;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: white;
    transition-property: width, height, font-size;
    transition-duration: 1s;
    
}
.animation-btn2:hover {
    cursor: pointer;
    width: 0px;
    height: 0px;
    background-color: base.$primary-color-dark;
    border-radius: 100%;
    font-size: 0px;
    border: none;
}

// Kart-sida
// Sökruta
#search-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   
  input[type='search'] {
      width: 60%;
      padding: 0.8em;
      border-radius: 10px;
      border: 1px solid;
      font-size: 1em;
  }
  }
  
  // Sök-knapp
  #search-button {
    padding: 10px 15px;
    width: 30%;
    margin-left: 10%;
  }
  // Sökresultat
#searchResult {
    width: 90%;
    margin: 2em auto;
    max-height: 180px;
    overflow-y: scroll;
    border: 1px solid #01447e;
  }
  #searchResult li {
    list-style-type: none;
    padding: 2%;
  }

footer {
    flex-direction: column;
    height: 500px;
}

footer li {
    align-items: center;
    margin-right: 10%;
}
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
    main {
        width: 80%;
    }
    .animation-btn {
        display: none;
    }
    
    .animation-btn2 {
        margin: 1em auto 1em;
        padding: 1em 2em;
        width: 200px;
        height: 100px;
        display: block;
        border: 2px solid base.$menuHoverColor;
        font-size: 1rem;
        background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
        color: white;
        transition-property: width, height, font-size;
        transition-duration: 1s;
        
    }
    .animation-btn2:hover {
        cursor: pointer;
        width: 0px;
        height: 0px;
        background-color: base.$primary-color-dark;
        border-radius: 100%;
        font-size: 0px;
        border: none;
    }
    #img1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        animation-name: tablet-slideshow1;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-duration: 3s;
        animation-iteration-count: 4;
        animation-direction: alternate;
    }
    #img2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        animation-name: tablet-slideshow2;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-duration: 3s;
        animation-iteration-count: 4;
        animation-direction: alternate;
    }
    
}


/* Större skärmar - gör menyn som inline */
@media only screen and (min-width: 1001px) {
    header {
        padding: 0 1em;
        @include component.custom-box-shadow;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: base.$menu-fontsize;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 2.6em 0;
    }

    .animation-btn2 {
        display: none;
    }

}